*.cs                    eol=CRLF
*.sln                   eol=CRLF
*.csproj                eol=CRLF
*.targets               eol=CRLF
*.cshtml                eol=CRLF
*.js                    eol=CRLF
*.ts                    eol=CRLF
*.xml                   eol=CRLF
*.aspx                  eol=CRLF
*.ascx                  eol=CRLF
*.bat                   eol=CRLF
*.ps1                   eol=CRLF
*.txt                   eol=CRLF
*.html                  eol=CRLF
*.css                   eol=CRLF
*.less                  eol=CRLF
*.config                eol=CRLF
*.md                    eol=CRLF
*.sql                   eol=CRLF